<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    {{!-- <link rel='stylesheet' href='/static/style/css/bootstrap.min.css'> --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="/static/js/libs/three.min.js"></script>
    <script src="/static/js/libs/OrbitControls.js"></script>

    <script src="/static/js/src/init3d.js"></script>
    <script src="/static/js/src/util3d.js"></script>
    <script src="/static/js/src/draw3d.js"></script>
    <script src="/static/js/src/graph.js"></script>

    <style>
        /*-- d3 --*/
        .node circle {
            fill: #fff;
            stroke: steelblue;
            stroke-width: 3px;
        }

        .node text {
            font: 12px sans-serif;
        }

        .link {
            fill: none;
            stroke: #ccc;
            stroke-width: 2px;
        }

        .node circle {
            fill: #fff;
            stroke: steelblue;
            stroke-width: 3px;
        }

        .node text {
            font: 12px sans-serif;
        }

        .link {
            fill: none;
            stroke: #ccc;
            stroke-width: 2px;
        }

        /*-- views --*/

        .container {
            background-color: black;
            color: white;
            z-index:10;
        }

        #container-data {
            color:black;
            background-color:white;
            z-index:0;
        }

        #main3d{
            float:right;
        }

        /*-- table --*/

        #table-display{
            position: relative;
            float: left;
            margin:auto;
        }

        #tableDiv {
            float: left;
            overflow: hidden;
        }

        .td_cells {
            font-size: 10px;
            text-align: center;
            padding: 2px;
        }

        .td_cells_editable {
            font-size: 10px;
            text-align: center;
            font-weight: bold;
            background-color: rgb(202, 248, 202);
        }

        /*-- dynamic button --*/

        .dynamic-table:hover {
            color: black;
            background: #f4f4f4;
        }

        .dynamic-button {
            box-shadow: 0px 10px 14px -7px #ffffff;
            background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
            background-color: #599bb3;
            border-radius: 2px;
            display: inline-block;
            cursor: pointer;
            color: #ffffff;
            font-family: Arial;
            font-size: 12px;
            font-weight: normal;
            padding: 3px 6px;
            text-decoration: none;
            text-shadow: 0px 1px 0px #307188;
        }

        .dynamic-button:hover {
            background: linear-gradient(to bottom, #408c99 5%, #215d74 100%);
            background-color: #408c99;
        }

        .dynamic-button:active {
            position: relative;
            top: 1px;
        }
    </style>


</head>

<body>
    {{{body}}}

    {{!-- <script src="/static/js/libs/jquery-3.5.1.min.js"></script>
    <script src="/static/js/libs/popper.min.js"></script>
    <script src="/static/js/style/bootstrap.min.js"></script> --}}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>